
<header style="background-image: url('https://www.sydneyoperahouse.com/sites/default/files/styles/3x1__2560w/public/collaborodam_assets/more-than-human-3-1.jpg.webp?itok=DtUpvrVN');">
    <h1>{{ .Site.Title }}</h1>
    <nav>
        <a href="{{ .Site.BaseURL }}">Home</a>
        <a href="/about/">About</a>
        <a href="/artist/">Species</a>
        <a href="/genres/">Functions</a>
        <a href="/format/">Formats</a>
        <a href="/label/">Labels</a>
        <a href="/platform/">Platform</a>
    </nav>


</header>

<p>
    The XXX Records Library is a collection of vinyl records. It is a work in progress, and will be updated regularly.
</p>
